<section class="page">
    <div class="content">
        <h1 class="content-main-title">Template (Šabloni)</h1>
        <p class="content-text">Template (predložak) u Angularu predstavlja deo komponente koji definiše kako će podaci biti prikazani 
            korisnicima kroz HTML strukturu. Ovaj HTML predložak obično sadrži dinamičke delove koji će se popuniti podacima koje komponenta prikazuje. Template u Angularu 
            kombinuje HTML sa Angular-ovim direktivama, omogućavajući dinamičko renderovanje podataka i interakciju sa korisnicima.<br>
        </p><br>
        <p class="content-text">U okviru predloška, mogu se koristiti Angular direktive, interpolacije <span ngNonBindable><b>{{ }}</b></span>, uslovi <b>ngIf</b>, iteracije <b>ngFor</b>, event binding, two-way binding, kao i pozivanje metoda definisanih u TypeScript kodu komponente.</p>
        <p class="content-text">U Angularu, <b>ngIf</b> je strukturna direktiva koja se koristi za prikazivanje ili skrivanje elemenata na osnovu uslova. Evo primera koda i opisa: </p>
        <code-display [type]="'html'" code='&lt;div *ngIf="isLoggedIn"&gt;
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Dobrodošli! Prijavljeni ste.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div *ngIf="!isLoggedIn"&gt;
        &nbsp;&nbsp;&nbsp;&nbsp;&lt;p&gt;Molimo vas da se prijavite.&lt;/p&gt;
        &lt;/div&gt;'></code-display>
        <p class="content-text">Opis:</p>
        <ul>
            <li class="content-text"><b>*ngIf</b> je strukturna direktiva u Angularu koja prikazuje ili skriva HTML elemente na osnovu uslova koji se postavi./li>
            <li class="content-text"><b>isLoggedIn</b> je varijabla ili izraz koji se evaluira. Ako je vrednost true, prvi div (sa porukom "Dobrodošli! Prijavljeni ste.") će biti prikazan, u suprotnom će biti prikazan drugi div (sa porukom "Molimo vas da se prijavite.").</li>
            <li class="content-text">Ako je vrednost promenljive <b>isLoggedIn</b> tačna (<b>true</b>), prvi blok unutar div-a će biti prikazan, inače će se prikazati drugi blok unutar div-a.</li>
        </ul>
    </div>
</section>
