<footer>
    <div class="footer-links">
        <div class="links-section">
            <ul>
                <h2>Uvod</h2>
                <li><a href="">Šta je Angular?</a></li>
                <li><a href="">Kako započeti?</a></li>
                <li><a href="">Angular CLI</a></li>
                <li><a href="">Postavke projekta</a></li>
            </ul>
        </div>
        <div class="links-section">
            <ul>
                <h2>Upoznavanje sa Angularom</h2>
                <li><a href="">Komponente</a></li>
                <li><a href="">Templates</a></li>
                <li><a href="">Direktive</a></li>
                <li><a href="">Dependency injection</a></li>
            </ul>
        </div>
        <div class="links-section">
            <ul>
                <h2>Tutorijali</h2>
                <li><a href="">Vaša prva aplikacija</a></li>
                <li>Kreiranje osnovnih komponenti i servisa</li>
                <li>Pokretanje Vaše aplikacije</li>
            </ul>
        </div>
        <div class="links-section">
            <ul>
                <h2>Kontakt</h2>
                <li><fa-icon [icon]="icons.faEnvelope"></fa-icon> Email: <a href="mailto:igorpopovic999@gmail.com" target="_blank">igorpopovic999@gmail.com</a></li>
                <li><fa-icon [icon]="icons.faPhone"></fa-icon> Telefon: <a href="tel:+381695501510" target="_blank">069 550 15 10</a></li>
                <li><fa-icon [icon]="icons.faLinkedin"></fa-icon> LinkedIn: <a href="https://www.linkedin.com/in/igor-popovic-774ab822b/" target="_blank">Igor Popović</a></li>
            </ul>
        </div>
    </div>
    <section class="created-with">
        <h3>Web sajt kreiran koristeći Angular </h3>
        <img src="./assets/images/logo/angular_white-logo.png" alt="Angular logo">
    </section>
    <section class="copyright">
        <h3>© 2023 Igor Popović. Sva prava zadržana.</h3>
    </section>
</footer>
