<section class="page">
    <div class="content">
        <h1 class="content-main-title">Uvod u Angular</h1>
        <p class="content-text">Angular je moderni alat za razvoj veb aplikacija koji omogućava kreiranje brzih i skalabilnih single-page aplikacija.<br><br>Ovaj framework pruža moćne alate i apstrakcije za olakšavanje izgradnje kompleksnih korisničkih interfejsa, uz podršku za modularnost i ponovno korišćenje koda. Angular vam pomaže da efikasno organizujete i
            upravljate svim aspektima vaše veb aplikacije, uključujući komponente, rute, servise i komunikaciju sa serverom.
            <br><br>Sa Angularom, možete brzo razvijati bogate korisničke interfejse, koristeći moćan sistem komponenti i direktiva. Takođe, ovaj framework nudi punu podršku za testiranje vašeg koda, što olakšava održavanje i unapređivanje aplikacija. Uz sve ove mogućnosti, Angular je izvanredan izbor za razvoj modernih veb aplikacija koje zahtevaju visok nivo performansi i skalabilnosti.</p>
        <div class="content-image">
            <img src="/assets/images/logo/angular-logo-banner.svg" alt="Angular logo banner">
        </div>
        <p class="content-text">Ispod možete pronaći neke od linkova koji će vam pomoći da naučite više o Angularu i iskoristite njegove raznovrsne mogućnosti za razvoj veb aplikacija.</p>
        <div class="container">
            <div class="card">
                <h1 class="card-title">Angular CLI</h1>
                <p class="card-text">Sve osnovne stvari vezane za Angular CLI i njegovu primenu mozete da naučite klikom na linku ispod.</p>
                <div class="card-link">
                    <a href="">Naučite više o Angular CLI</a>
                </div>
            </div>
            <div class="card">
                <h1 class="card-title">Postavka projekta</h1>
                <p class="card-text">Naučite da postavite Vašu prvi Angular projekat i da prilagodite najnovije verzije za node.js i Angular CLI.</p>
                <div class="card-link">
                    <a href="">Naučite o Angular projekta</a>
                </div>
            </div>
            <div class="card">
                <h1 class="card-title">Angular aplikacija</h1>
                <p class="card-text">Uz video snimak i date primere u vidu teksta, naučite da kreirate i pokrenete vašu prvu Angular aplikaciju.</p>
                <div class="card-link">
                    <a href="">Vašu prva Angular aplikacija</a>
                </div>
            </div>
        </div>
    </div><br>
</section>
