<section class="page">
    <div class="content">
        <h1 class="content-main-title">Uvod u Angular</h1>
      <p class="content-text">Angular je jedan od najpopularnijih i najmoćnijih frejmvorka (framework) za razvoj veb aplikacija.
        Razvijen i podržan od strane Google korporacije, Angular omogućava programerima da kreiraju dinamične, skalabilne i visoko
        performansne aplikacije. Sa svojom komponentno-baziranom arhitekturom, Angular olakšava razvoj složenih aplikacija kroz
        modularizaciju i višestruku upotrebu koda.</p><br>
      <p class="content-text">Ovaj vodič je osmišljen da vas kroz korak po korak uvede u osnove i napredne koncepte,
        od inicijalne postavke okruženja, preko kreiranja komponenti i rutiranja, do upravljanja stanjem i optimizacije aplikacije.
        Bez obzira na to da li ste početnik koji tek započinje svoj Angular put ili iskusan programer koji želi da produbi svoje
        znanje, ovaj vodič će vam pružiti potrebne informacije i primere koji će vam pomoći da savladate ovaj moćan alat.
        Naredni delovi će vas voditi kroz različite aspekte rada, objašnjavajući ključne koncepte i tehnike koje su
        neophodne za kreiranje uspešnih veb aplikacija.</p>
        <div class="content-image">
            <img src="./assets/images/logo/angular-logo-banner.svg" alt="Angular logo banner">
        </div>
        <p class="content-text">Ispod možete pronaći neke od linkova koji će vam pomoći da naučite više o Angularu i iskoristite njegove raznovrsne mogućnosti za razvoj veb aplikacija.</p>
        <div class="container">
            <div class="card">
                <h1 class="card-title">Angular CLI</h1>
                <p class="card-text">Sve osnovne stvari vezane za Angular CLI i njegovu primenu mozete da naučite klikom na linku ispod.</p>
                <div class="card-link">
                    <a (click)="scrollToTop()" routerLink="/angular-cli">Naučite više o Angular CLI</a>
                </div>
            </div>
            <div class="card">
                <h1 class="card-title">Sigurnost</h1>
                <p class="card-text">Unapredite svoje znanje o sigurnosti i naučite ključne tehnike za zaštitu vaših aplikacija.</p>
                <div class="card-link">
                    <a (click)="scrollToTop()" routerLink="/security">Naučite više o sigurnosti</a>
                </div>
            </div>
            <div class="card">
                <h1 class="card-title">Angular alatke (DevTools)</h1>
                <p class="card-text">Zaronite u Angular DevTools i otkrijte kako da efikasno pratite performanse i debagujete svoje Angular aplikacije.</p>
                <div class="card-link">
                    <a (click)="scrollToTop()" routerLink="/dev-tools">Naučite više o Angular alatkama</a>
                </div>
            </div>
        </div>
    </div><br>
</section>
