<section class="page">
  <div class="content">
    <h1 class="content-main-title">Angular CLI</h1>
    <p class="content-text">Angular CLI (Command Line Interface) je alatka koja omogućava razvoj, testiranje i upravljanje Angular
      aplikacijama putem komandne linije.</p><br>
    <p class="content-text">Angular CLI ne samo da ubrzava proces razvoja, već značajno poboljšava
      produktivnost time što omogućava programerima da se usredsrede na razvoj funkcionalnosti, a ne na rutinske zadatke
      kao što su postavljanje projekata ili konfiguracija okruženja. Instalacija Angular CLI je jednostavna i vrši se preko npm,
      nakon čega je spreman za upotrebu sa sledećom komandom:</p>

    <code-display [type]="'console'" code="npm install -g @angular/cli"></code-display>

    <p class="content-text">Nakon instalacije, Angular CLI omogućava kreiranje novih Angular projekata jednostavnom komandom:</p>

    <code-display [type]="'console'" code="ng new naziv-projekta"></code-display>

    <p class="content-text">Ovaj alat će automatski generisati
      osnovnu strukturu projekta, uključujući konfiguraciju, direktorijume i fajlove potrebne za razvoj Angular aplikacije.<br><br>
      Angular CLI olakšava generisanje različitih entiteta, kao što su komponente, servisi, moduli, rute i drugi, kroz jednostavne komande. Na primjer,
      putem jedne komande možete brzo stvoriti novu komponentu, olakšavajući tako razvoj i održavanje vaše Angular aplikacije. </p>

    <code-display [type]="'console'" code="ng generate component ime-komponente"></code-display>

    <p class="content-text"> CLI pruža konfiguracione fajlove za razvoj i proizvodnju, što čini postavljanje razvojnog okruženja znatno jednostavnijim. Konfiguracija se nalazi u fajlovima poput <b>angular.json</b> i <b>tsconfig.json</b>.<br><br>
      CLI uključuje ugrađeni razvojni server koji omogućava brzo testiranje aplikacije tokom razvoja, što olakšava praćenje promena u aplikaciji u realnom vremenu. Ovaj server automatski detektuje
      promene u kodu i osvežava aplikaciju u pregledaču, što programerima omogućava da brzo vide efekte svojih izmena i isprave greške tokom razvojnog procesa.
      Osim toga, moguće je konfigurisati različite opcije servera, kao što su port i host, kako bi se prilagodio specifičnim potrebama projekta. Server se može pokrenuti komandom</p>

    <code-display [type]="'console'" code="ng serve"></code-display>

    <p class="content-text">Angular CLI pruža niz korisnih funkcija koje olakšavaju razvoj i održavanje Angular aplikacija. Tokom razvoja, CLI automatski osvežava aplikaciju u pregledaču nakon svake promene u kodu, eliminišući potrebu za ručnim osvežavanjem.
      Takođe, CLI omogućava izgradnju optimizirane verzije aplikacije za proizvodnju, uključujući minifikaciju i spajanje fajlova radi smanjenja veličine aplikacije i poboljšanja performansi. Pored toga, Angular CLI pojednostavljuje testiranje aplikacije pomoću
      alata kao što su Jasmine i Karma. Možete proširiti funkcionalnost CLI-ja instaliranjem dodataka koji podržavaju Angular Material, Bootstrap, internacionalizaciju i mnoge druge.
      Takođe, imate kontrolu nad konfiguracijom ruta u vašoj aplikaciji, što olakšava dodavanje i prilagođavanje ruta. Ove funkcije čine Angular CLI snažnim alatom za razvoj Angular aplikacija.</p><br>
  </div>
</section>
