<section class="page">
    <div class="content">
        <h1 class="content-main-title">Komponente</h1>
        <p class="content-text">Komponente su glavni gradivni elementi za Angular aplikacije. Svaka komponenta se sastoji od:<br>
        </p>
        <ul>
            <li class="content-text">HTML templejta koji deklariše šta se prikazuje na stranici</li>
            <li class="content-text">TypeScript klase koja definiše ponašanje</li>
            <li class="content-text">CSS selektora koji određuje kako se komponenta koristi u šablonu (templates)</li>
            <li class="content-text">Opciono, CSS stilova primenjenih na šablonu (templates)</li>
        </ul><br><br>
        <p class="content-text">Kreiranje komponente u vašoj aplikaciji može se izvršiti na dva načina: <p>
        <ul>
            <li class="content-text"><b>Ručno</b> putem kreiranja novih datoteka i ručnog dodavanja potrebnog koda za HTML predložak, TypeScript klasu i CSS stilove.</li>
            <li class="content-text"><b>Korišćenjem Angular-ovog CLI alata</b> pomoću komande ng generate component ime-komponente, što automatski generiše sve potrebne datoteke za novu komponentu sa osnovnom strukturom.</li>
        </ul><br><br>
        <h1 class="content-title">Kako kreirati komponentu ručno?</h1>
        <p class="content-text">Iako je Angular CLI najjednostavniji način za kreiranje Angular komponenti, takođe možete ručno napraviti komponentu. Ova sekcija opisuje kako kreirati osnovnu datoteku komponente unutar postojećeg Angular projekta.
        </p><br>
        <p class="content-text">Da biste ručno kreirali novu komponentu:</p>
        <ul>
            <li class="content-text">Otvorite direktorijum vašeg Angular projekta.</li>
            <li class="content-text">Kreirajte novu datoteku sa nazivom <b>&lt;ime-komponente&gt;.component.ts.</b></li>
            <li class="content-text">Na vrhu datoteke, dodajte sledeći import statement.</li>
            <code-display [type]="'typescript'"  code="import { Component } from '@angular/core';"></code-display>
            <li class="content-text">Nakon import statementa, dodajte @Component dekorator.</li>
            <code-display [type]="'typescript'" code="@Component({

            })"></code-display>
            <li class="content-text">Izaberite CSS selektor za komponentu.</li>
            <code-display [type]="'typescript'" code="@Component({
                &nbsp;&nbsp;&nbsp;&nbsp;selector: 'app-component-overview',
              })"></code-display>
            <li class="content-text">Izaberite stilove za templejt komponente. U većini slučajeva, definisaćete stilove za templejt komponente u posebnoj datoteci.</li>
            <code-display [type]="'typescript'" code="@Component({
                &nbsp;&nbsp;&nbsp;&nbsp;selector: 'app-component-overview',
                &nbsp;&nbsp;&nbsp;&nbsp;templateUrl: './component-overview.component.html',
                &nbsp;&nbsp;&nbsp;&nbsp;styleUrls: ['./component-overview.component.css']
              })"></code-display>
            <li class="content-text">Dodajte deklaraciju klase koja uključuje kod za komponentu.</li>
            <code-display [type]="'typescript'" code="export class ComponentOverviewComponent {

            }"></code-display>
        </ul>
        <p class="content-text">Nakon sprovođenja gore navedenih koraka, Angular komponenta će biti uspješno kreirana i spremna za upotrebu u vašoj aplikaciji.</p>
        <br>
        <h1 class="content-title">Kako kreirati Angular komponentu koristeći Angular CLI?</h1>
        <p class="content-text">Ali takođe, Angular CLI ima u sebi ugrađene komande koje sve ove postupke izvršavaju automatski,
          čime značajno olakšavaju i ubrzavaju proces razvoja. Da biste iskoristili ove mogućnosti, sledite sledeće korake:</p>
        <ul>
            <li class="content-text">Otvorite terminal ili command prompt.</li>
            <li class="content-text">Kreirajte novi Angular projekat. U terminalu, odaberite direktorijum u koji želite da se kreira projekat i unesite komandu. Zamijenite <b>naziv-projekta</b> sa imenom koje želite za vaš projekat:</li>
            <code-display [type]="'console'" code="ng new naziv-projekta"></code-display>
            <li class="content-text">Pozicionirajte se unutar direktorijuma projekta. U terminalu, unesite (Gdje je <b>naziv-projekta</b> ime direktorijuma projekta koje ste odabrali prilikom kreiranja):</li>
            <code-display [type]="'console'"code="cd naziv-projekta"></code-display>
            <li class="content-text">Kreirajte novu komponentu koristeći Angular CLI. Zamijenite <b>ime-komponente</b> sa željenim imenom nove komponente: </li>
            <code-display [type]="'console'"code="ng generate component ime-komponente"></code-display>
            <li class="content-text">Proverite strukturu direktorijuma. Otvorite projekat u vašem omiljenom tekst editoru. Struktura direktorijuma će sadržati novu komponentu unutar <b>src/app</b>.</li>
        </ul><br>
        <p class="content-text">Korišćenjem Angular CLI, ovi koraci automatski generišu osnovne datoteke potrebne za komponentu, uključujući HTML templejt, TypeScript klasu i CSS datoteku. Ovo ubrzava proces kreiranja komponenti i održava konzistentnost u strukturi projekta.</p>
        <br>
        <h1 class="content-title">Životni ciklus komponente</h1>
        <p class="content-text">Takođe, veoma je bitno naglasiti životni ciklus komponente. Instanca komponente ima svoj
          životni ciklus koji počinje kada Angular instancira klasu komponente i prikazuje njen prikaz zajedno sa pod-prikazima.
          Životni ciklus se nastavlja kroz proces detekcije promena, gde Angular prati kada se svojstva povezana sa podacima promene,
          ažurirajući i prikaz i instancu komponente po potrebi. Životni ciklus se završava kada Angular uništi instancu
          komponente i ukloni njen šablon iz Document Object Model (DOM). Direktive prate sličan životni ciklus, jer Angular kreira,
          ažurira i uništava njihove instance tokom izvršavanja.
        </p><br>
        <p class="content-text">Vaša aplikacija može koristiti metode kuke za životni ciklus (lifecycle hook methods) kako bi se uključila
          u ključne događaje u životnom ciklusu komponente ili direktive, omogućavajući inicijalizaciju novih instanci,
          pokretanje detekcije promena kada je potrebno, reagovanje na ažuriranja tokom detekcije promena i čišćenje pre nego što se instance uklone.
        </p><br>
        <p class="content-text">Ispod se nalazi tabela sa sadržajem svih metoda za životni ciklus (<b>lifecycle hook methods</b>):</p><br>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="hookMethod">
              <th mat-header-cell *matHeaderCellDef> Hook Metode </th>
              <td mat-cell *matCellDef="let element"> {{ element.hookMethod }} </td>
            </ng-container>
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef> Detaljno </th>
              <td mat-cell *matCellDef="let element"> {{ element.details }} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table><br><br>
    </div>
</section>

