<section class="page">
  <div class="content">
    <div class="not-found-container">
      <h1 class="not-found-title">STRANICA NIJE PRONADJENA</h1><br>
      <p class="not-found-text">
        Ova stranica koju tražite ne postoji. Možda je uklonjena ili ste uneli pogrešnu adresu.
      </p><br>
      <div class="not-found-image">
        <img src="assets/images/graphics/page-404.png" alt="Page Not Found">
      </div><br>
      <a routerLink="/" class="back-home">Vrati se na pocetnu</a>
    </div>
  </div>
</section>

