.code-display {
  position: relative;
  width: 600px;
  min-height: fit-content;
  margin: 40px auto;
  background-color: #0D1117;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.code-section {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
  min-height: max-content;
  font-size: 20px;
  margin: 20px;
}

.copy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
  background-color: black;
  border-radius: 25px 25px 0 0;
  color: white;
  align-items: center;
  font-size: 16px;
  padding: 10px 0;
}

.copy-section p {
  margin: 0 0 0 15px;
}

.copy-section span {
  cursor: pointer;
  margin: 0 15px 0 0;
}

.casual-text {
  color: white;
  align-self: center;
  justify-content: center;
}

/* TELEFON */
@media (max-width: 767px) {
  .code-display {
    position: relative;
    width: 100%;
    background-color: #0D1117;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }

  .code-section {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .copy-section {
    text-align: center;
  }

  .casual-text {
    align-self: center;
  }

}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {}