.code-display {
  position: relative;
  width: 600px;
  margin: 40px auto;
  background-color: #23241f;
  height: 100px;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
}

.code-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.copy-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  background-color: black;
  border-radius: 25px 25px 0 0;
  color: white;
  align-items: center;
  font-size: 16px;
}

.copy-section p {
  margin: 0 0 0 15px;
}

.copy-section span {
  cursor: pointer;
  margin: 0 15px 0 0;
}

.casual-text {
  color: white;
}

/* TELEFON */
@media (max-width: 767px) {
  .code-display {
    position: relative;
    width: 100%;
    margin: 40px auto;
    background-color: #23241f;
    height: 100px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
  }

  .code-section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {}