.pdf-container {
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #434343;
}

.pdf-viewer {
  width: 100%;
  height: 100vh;
}

.pdf-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.download-button,
.pdf-actions button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: white;
  text-decoration: none;
  font-family: "Arial Nova", serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.download-button:hover,
.pdf-actions button:hover {
  background-color: #303f9f;
  text-decoration: none;
}

/* TELEFON */
@media (max-width: 767px) {
  .pdf-viewer {
    height: 70vh; /* Smanjuje visinu na manjim ekranima radi bolje vidljivosti */
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {
  .pdf-viewer {
    height: 80vh; /* Prilagođava visinu za tablet uređaje */
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .pdf-viewer {
    height: 90vh; /* Visina je 90% visine pregledača na većim ekranima */
  }
}
