<section class="page">
  <div class="content">
    <h1 class="content-main-title">Angular IDE</h1>
    <p class="content-text">Ispod možete testirati i eksperimentisati sa Angular kodom koristeći integrisani Angular IDE.
      Ovaj alat vam omogućava da pišete, pokrećete i debugujete osnovne Angular primere direktno u vašem pregledaču, pružajući
      vam praktično okruženje za učenje i vežbu. Bilo da isprobavate jednostavne koncepte, eksperimentišete sa novim idejama
      ili usavršavate svoje Angular veštine, ovaj IDE vam daje fleksibilnost da u realnom vremenu vidite promene koje unosite,
      bez potrebe za postavljanjem kompletnog razvojnog okruženja. Zaronite i počnite sa kodiranjem!</p><br>
    <iframe src="https://stackblitz.com/edit/angular?embed=1&file=src/app/app.component.ts" width="100%" height="550px"></iframe>
  </div><br>
</section>
