/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page {
  position: relative;
  min-height: 100vh;
  height: fit-content;
}

.content {
  position: relative;
  width: 80%;
  margin: auto;
}

.content-center {
  position: relative;
  width: 70%;
  margin: auto;
}

.content-main-title {
  font-weight: 400 !important;
  font-size: 48px !important;
  margin: 1em 0 !important;
}

.content-title {
  font-weight: 400 !important;
  font-size: 34px !important;
  margin: 1em 0 !important;
}

.content-text {
  font-weight: 400 !important;
  font-size: 18px !important;
  line-height: 30px !important;
}

.content-image {
  position: relative;
  width: 100%;
}

.content-image img {
  width: 60%;
  margin: 50px 20%;
}

/* TELEFON */
@media (max-width: 767px) {

  .content-main-title {
    font-size: 34px !important;
  }

  .content-text {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 20px !important;
  }

  .content-center {
    position: relative;
    width: 80%;
    margin: auto;
  }

  .content-image img {
    width: 80%;
    margin: 30px 10%;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Purple: #84468C */
