.navigation {
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #3f51b5;
}

.navigation-menu {
  display: flex;
  flex-direction: row;
}

.navigation-menu li {
  display: flex;
  width: fit-content;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.navigation-menu li a {
  color: white;
  font-size: larger;
  text-decoration: none;
  padding: 0 20px 0 0;
}

.logo {
  margin: 10px 0px 5px 15px;
  width: 50px;
}

.logo img {
  width: 50px;
}

.social-media {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  float: right;
}

.social-media a {
  color: white;
  text-decoration: none;
}

.social-media fa-icon {
  font-size: x-large;
  margin-right: 30px;
}

.sandwitch-bar {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.sandwitch-bar button {
  color: white;
  font-size: x-large;
}

.sidenav-main-menu-container {
  position: fixed;
  left: 0;
  top: 75px;
  height: 92.5%;
}

.sidenav-main-menu {
  width: 350px;
  background-color: rgba(0, 0, 0, 0.068);
  flex: 1;
  background-color: #f0f0f0;
}

.sidenav-dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  width: 100%;
  cursor: pointer;
}

.sidenav-dropdown:hover {
  background-color: #3f51b5;
  color: white !important;
}

.sidenav-dropdown-text {
  width: 80%;
  font-size: 18px;
  margin-left: 20px;
}

.sidenav-drowpdown-icon {
  position: absolute;
  right: 0;
  font-size: 16px;
  margin-right: 15px;
}

.sidenav-dropdown a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

/* .dropdown-content-menu {

} */

.dropdown-content-menu ul li {
  list-style-type: none;
  padding: 10px 0;
}

.dropdown-content-menu ul li a:hover {
  text-decoration: underline;
}

.dropdown-content-menu ul li a {
  text-decoration: none;
  color: black;
  font-size: larger;
}

/* TELEFON */
@media (max-width: 767px) {
  .navigation-menu {
    display: none;
  }

  .social-media fa-icon {
    font-size: x-large;
    margin-right: 25px;
  }

  .logo {
    margin: 10px 0px 5px 0px;
    width: 50px;
  }

  .sidenav-main-menu {
    width: 200px;
  }

  .sidenav-dropdown {
    height: 60px;
  }

  .sidenav-dropdown-text {
    font-size: 14px;
    margin-left: 10px;
  }

  .sidenav-drowpdown-icon {
    font-size: 12px;
    margin-right: 10px;
  }

  .dropdown-content-menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
  }

  body {
    font-size: 16px;
  }

  .header {
    display: none;
  }
}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {}