<nav class="navigation">
  <div class="sandwitch-bar">
    <button type="button" mat-button (click)="drawer.toggle()">
      <fa-icon [icon]="icons.faBars"></fa-icon>
    </button>
  </div>
  <div class="logo">
    <img src="../../../assets/images/logo/logo.png" alt="Angular logo" />
  </div>
  <ul class="navigation-menu">
    <li><a routerLink="/">Početna</a></li>
    <li><a routerLink="/o-nama">Dokumentacija</a></li>
    <li><a routerLink="/proizvodi">Komponente</a></li>
    <li><a routerLink="/kontakt">Kontakt</a></li>
  </ul>
  <div class="social-media">
    <fa-icon [icon]="icons.faGithub"></fa-icon>
    <fa-icon [icon]="icons.faLinkedin"></fa-icon>
    <fa-icon [icon]="icons.faInstagram"></fa-icon>
  </div>
</nav>

<mat-drawer-container class="sidenav-main-menu-container" autosize>
  <mat-drawer #drawer class="sidenav-main-menu" mode="side"
    ><br />
    <div class="sidenav-dropdown" (click)="toggleDropdown('uvod')">
      <span class="sidenav-dropdown-text">Uvod</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['uvod'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['uvod'].isOpen">
      <h3>Hello</h3>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('upoznavanje')">
      <span class="sidenav-dropdown-text">Upoznavanje sa Angularom</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['upoznavanje'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['upoznavanje'].isOpen">
      <h3>Hello</h3>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('vodicZaProgramere')">
      <span class="sidenav-dropdown-text">Vodič za programere</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['vodicZaProgramere'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['vodicZaProgramere'].isOpen">
      <h3>Hello</h3>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('tutorijali')">
      <span class="sidenav-dropdown-text">Tutorijali</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['tutorijali'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['tutorijali'].isOpen">
      <h3>Hello</h3>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('dokumentacija')">
      <span class="sidenav-dropdown-text">Dokumentacija</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['dokumentacija'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['dokumentacija'].isOpen">
      <h3>Hello</h3>
    </div>
  </mat-drawer>
</mat-drawer-container>
