<nav class="navigation">
  <div class="sandwitch-bar">
    <button type="button" mat-button (click)="drawer.toggle()">
      <fa-icon [icon]="icons.faBars"></fa-icon>
    </button>
  </div>
  <div class="logo">
    <a routerLink="home"><img src="./assets/images/logo/angular_white-logo.png" alt="Angular logo" /></a>
  </div>
  <ul class="navigation-menu">
    <li><a routerLink="home">Početna</a></li>
    <li><a routerLink="documentation">Dokumentacija</a></li>
    <li><a routerLink="components">Komponente</a></li>
    <li><a routerLink="contact">Kontakt</a></li>
  </ul>
  <div class="social-media">
    <a href="https://github.com/IgorPopovicc" target="_blank"><fa-icon [icon]="icons.faGithub"></fa-icon></a>
    <a href="https://www.linkedin.com/in/igor-popovic-774ab822b/" target="_blank"><fa-icon [icon]="icons.faLinkedin"></fa-icon></a>
    <a href="https://www.instagram.com/igor_popovic99/" target="_blank"><fa-icon [icon]="icons.faInstagram"></fa-icon></a>
  </div>
</nav>

<mat-drawer-container class="sidenav-main-menu-container" autosize>
  <mat-drawer #drawer class="sidenav-main-menu" mode="side"><br />
    <div routerLink="home" class="sidenav-dropdown">
      <span class="sidenav-dropdown-text">Početna</span>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('uvod')">
      <span class="sidenav-dropdown-text">Uvod</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['uvod'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['uvod'].isOpen">
      <div class="dropdown-content-menu">
        <ul>
          <li><a routerLink="introduction">Šta je Angular?</a></li>
          <li><a routerLink="how-to-start">Kako započeti?</a></li>
          <li><a routerLink="angular-cli">Angular CLI</a></li>
          <li><a routerLink="project-structure">Postavka projekta</a></li>
        </ul>
      </div>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('upoznavanje')">
      <span class="sidenav-dropdown-text">Upoznavanje sa Angularom</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['upoznavanje'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['upoznavanje'].isOpen">
      <div class="dropdown-content-menu">
        <ul>
          <li><a routerLink="components">Komponente</a></li>
          <li><a routerLink="templates">Templates (Šabloni)</a></li>
          <li><a routerLink="directive">Direktive</a></li>
          <li><a routerLink="dependency-injection">Dependency injection</a></li>
          <li><a routerLink="first-angular-app">Kreiranje prve Angular aplikacije</a></li>
        </ul>
      </div>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('najboljaPraksa')">
      <span class="sidenav-dropdown-text">Najbolja praksa</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['najboljaPraksa'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['najboljaPraksa'].isOpen">
      <div class="dropdown-content-menu">
        <ul>
          <li><a routerLink="security">Sigurnost</a></li>
          <li><a routerLink="accessibility">Pristupacnost</a></li>
          <li><a routerLink="version-supporting">Održavanje verzije</a></li>
          <li><a routerLink="lazy=loading">Lazy Loading</a></li>
        </ul>
      </div>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('vodicZaProgramere')">
      <span class="sidenav-dropdown-text">Vodič za programere</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['vodicZaProgramere'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['vodicZaProgramere'].isOpen">
      <div class="dropdown-content-menu">
        <ul>
          <li><a routerLink="introduction-developers">Uvod</a></li>
          <li><a routerLink="change-detection">Detektovanje promena</a></li>
          <li><a routerLink="routing">Rutiranje i navigacija</a></li>
          <li><a routerLink="forms">Forme</a></li>
          <li><a routerLink="http-client">HTTP klijent</a></li>
          <li><a routerLink="server-side-rendering">Renderovanje na serverskoj strani</a></li>
          <li><a routerLink="testing">Testiranje</a></li>
          <li><a routerLink="library">Angular biblioteke</a></li>
        </ul>
      </div>
    </div>
    <div class="sidenav-dropdown" (click)="toggleDropdown('tutorijali')">
      <span class="sidenav-dropdown-text">Tutorijali</span>
      <fa-icon class="sidenav-drowpdown-icon" [icon]="isOpen['tutorijali'].icon"></fa-icon>
    </div>
    <div class="sidenav-dropdown-content" [hidden]="!isOpen['tutorijali'].isOpen">
      <div class="dropdown-content-menu">
        <ul>
          <li><a routerLink="tutorial-one">Tutorijal: Vaša prva aplikacija</a></li>
          <li><a routerLink="tutorial-two">Tutorijal: Kreiranje osnovnih komponenti i servisa</a></li>
          <li><a routerLink="tutorial-three">Tutorijal: Pokretanje Vaše aplikacije</a></li>
        </ul>
      </div>
    </div>
    <div routerLink="documentation" class="sidenav-dropdown">
      <span class="sidenav-dropdown-text">Dokumentacija</span>
    </div>
  </mat-drawer>
</mat-drawer-container>
